@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,301;1,301&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
#Tex-fild{
    width: 668px;
    height: 547px;
    margin-left: 62px;
    margin-top: 319px;
}
#text-ads{
    width: 548px;
    height: 141px;
    font-family: "Inter", serif;
    font-size: 20px;
}
#title{
    font-family: "Inter", serif;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 85px;
}
#juice{
    width: 777px;
    height: 777px;
    background-color: #DF8B37;
    border-radius: 50%;
    position: absolute;
    bottom: -29%;
    left: 80%;
    filter: blur(2px)
}
#juice-img{
    width: 184.78px;
    height: 542.41px;
}
#juice-img img{
    width: 600px;
    height: 642.41px;
    position: absolute;
    bottom: 100px;
    left: 76%;
    transform: rotate(-30deg);
    pointer-events: none;
    -webkit-user-drag: none;
}